@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JS

@using ConvertirXml.Services
@inject XmlTransformerService Transformer

<PageTitle>XML → TXT</PageTitle>

<div class="d-flex justify-content-between align-items-center mb-3">
	<h3>Convertir XML → TXT</h3>
	<div>
		<button class="btn btn-primary me-2" @onclick="Convertir" disabled="@procesando"> 
			@(procesando ? "Procesando..." : "Convertir")
		</button>

		<button class="btn btn-success" @onclick="LlamarJavaScript" disabled="@string.IsNullOrWhiteSpace(resultado)">
			Copiar Resultado
		</button>
	</div>
</div>

@if (!string.IsNullOrWhiteSpace(error))
{
	<div class="alert alert-danger">
		@error
	</div>
}

<label>XML de entrada</label>

<textarea class="textXml form-control" rows="8" @onchange="OnXmlChanged"></textarea>

@if (!string.IsNullOrWhiteSpace(resultado))
{
	<hr />
	<h5>Conversión completada</h5>
	<div class="alert alert-success"> 
		Registros convertidos correctamente.
	</div>
	<p>Tamaño resultado:
		<strong>@resultado.Length</strong> caracteres obtenidos:
	</p>
	<details>
		<summary>Vista previa</summary>
		<pre>@(resultado.Length > 1523 ? resultado[..1523] : resultado)</pre>
	</details>
}

@code {

	private string xmlContent = "";
	private string resultado = "";
	private string error = "";

	private bool procesando;

	private string nbPersonal = "sevenTodo";
	private string nbPersonalSecun = "SevenTodo";

	private async Task Convertir()
	{
		error = "";
		Console.WriteLine("Texto convertido");
		try
		{
			procesando = true;
			resultado = await Task.Run(() =>
				Transformer.Convert(
					xmlContent,
					nbPersonal,
					nbPersonalSecun));
		}
		catch (Exception ex)
		{
			error = ex.Message;
		}
		finally
		{
			procesando = false;
		}
	}

	private async Task LlamarJavaScript()
	{
		if (!string.IsNullOrWhiteSpace(resultado))
		{
			await JS.InvokeVoidAsync("copiarContenido", resultado);
		}
	}

	private void OnXmlChanged(ChangeEventArgs e)
	{
		xmlContent = e.Value?.ToString() ?? "";
	}
}